@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.loader {
    box-sizing: border-box;
    flex-shrink: 0;
    margin-right: 18px;
    border-radius: 50px;
    transform: rotate(-5.74deg);
    animation: spin 2s linear 0s infinite;
}

.loader_large {
    width: 60px;
    height: 60px;
    border: 6px solid #518581;
    border-bottom: 6px solid transparent;
}

.loader_medium {
    width: 40px;
    height: 40px;
    border: 4.5px solid #518581;
    border-bottom: 4.5px solid transparent;
}

.loader_small {
    width: 20px;
    height: 20px;
    border: 3px solid #518581;
    border-bottom: 3px solid transparent;
}

.white {
    border-color: #FFFFFF;
    border-bottom-color: transparent;
}