@import "@styles/variables.scss";
@import "@styles/mixins.scss";

.input {
    @include filter-button;
    @include filter-font;
    @include hide-overflow-text;
    background-image: url(./search-icon.svg);
    color: $minor-color;
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
        box-shadow: 0px 4px 20px rgba(175, 173, 181, 0.5);
    }

    &:focus,
    &:focus-visible {
        border: 1px solid $highlight-color;
        outline: 1px solid $highlight-color;
        color: $main-color;
    }

    &_disabled {
        opacity: 0.7;
    }
}