@import "@styles/variables.scss";
@import "@styles/mixins.scss";

.card {
    @include flex-column(26px);
    align-items: flex-start;
    overflow: hidden;

    @media screen and (max-width: $mobile) {
        @include flex-column(14px);
    }

    &:hover {
        cursor: pointer;

        &__image {
            transform: scale(1.05);
        }
    }

    &__image {
        @include square-image;
        transition: 0.5s ease-in;
    }

    &:hover &__image {
        transform: scale(1.05);
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        p {
            width: 100%;
        }
    }

    &__category {
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        color: $minor-color;
        @include hide-text_with_wrap;

        @media screen and (max-width: $tablet) {
            font-size: 16px;
            line-height: 22px;
        }

        @media screen and (max-width: $mobile) {
            font-size: 12px;
        }
    }

    &__title {
        margin: 14px 0 6px;
        font-weight: 700;
        font-size: 26px;
        line-height: 34px;
        letter-spacing: 0.01em;
        color: $main-color;
        @include hide-overflow-text;

        @media screen and (max-width: $tablet) {
            margin: 10px 0 6px;
            font-size: 22px;
            line-height: 26px;
        }

        @media screen and (max-width: $mobile) {
            margin: 4px 0 6px;
            font-size: 14px;
            line-height: 18px;
        }
    }

    &__subtitle {
        margin-bottom: 18px;
        text-align: left;
        font-weight: 500;
        @include subtitle;
        @include hide-overflow-text;

        @media screen and (max-width: $tablet) {
            margin-bottom: 16px;
            font-size: 16px;
            line-height: 26px;
        }

        @media screen and (max-width: $mobile) {
            margin-bottom: 12px;
            font-size: 12px;
            line-height: 22px;
        }
    }

    &__content {
        font-weight: 700;
        font-size: 24px;
        line-height: 31px;
        color: $main-color;
        @include hide-text_with_wrap;

        @media screen and (max-width: $tablet) {
            font-size: 20px;
            line-height: 24px;
        }

        @media screen and (max-width: $mobile) {
            font-size: 14px;
            line-height: 18px;
        }
    }
}