$mobile: 500px;
$tablet: 900px;
$desktop: 1200px;
$wide: 1800px;

$main-color: #151411;
$minor-color: #AFADB5;
$highlight-color: #518581;
$btn-disabled-color: #D9D9D9;
$border-color: #F3F3F3;
$black-color: #000000;
$white-color: #FFFFFF;