@import "@styles/variables.scss";
@import "@styles/mixins.scss";

.main__product-list {
    @include flex-column;
}

.product-list {
    &__total {
        align-self: flex-start;
        @include flex-row;
        gap: 10px;
    }

    &__title {
        margin: 50px 0;
        @include title-h2;
    }

    &__number {
        @include total-number;
    }

    &__content-with-scroll {
        @include flex-column;
        height: 100%;
        overflow: auto;
    }

    &__scroll {
        margin: 20px auto;
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px 29px;

        @media screen and (min-width: $wide) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        @media screen and (max-width: $tablet) {
            grid-template-columns: 1fr 1fr;
        }

        @media screen and (max-width: $mobile) {
            grid-template-columns: 1fr;
        }
    }
}