.multi-dropdown {
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    &__title {
        cursor: pointer;
        width: 368px;
        padding-left: 26px;
        text-align: left;
        height: 86px;
        border: none;
        background: #FFFFFF;
        box-shadow: 0px 4px 120px rgba(175, 173, 181, 0.15);
        font-family: 'Eudoxus Sans';
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        color: #AFADB5;

        &:focus {
            color: #151411;
        }

        &:disabled {
            opacity: 0.7;
        }
    }

    &__content {
        display: none;
        width: 368px;
        list-style: none;
        background: #FFFFFF;
        border: 1px solid #FFFFFF;
        box-shadow: 0px 4px 120px rgba(175, 173, 181, 0.15);

        &.clicked {
            display: flex;
            flex-direction: column;
        }

        li {
            box-sizing: border-box;
            cursor: pointer;
            height: 50px;
            padding-top: 16px;
            padding-left: 16px;
            font-family: 'Eudoxus Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: #000000;

            &.selected {
                color: #518581;
            }
        }
    }
}