.page__wrapper {
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
}

.main {
    padding-top: 100px;
}

/*** RESPONSIVE ***/
@media screen and (max-width: 900px) {
    .page__wrapper {
        padding-left: 24px;
        padding-right: 24px;
    }

    .main {
        padding-top: 50px;
    }
}