.page__wrapper {
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
}

/*** RESPONSIVE ***/
@media screen and (max-width: 800px) {
    .page__wrapper {
        padding-left: 24px;
        padding-right: 24px;
    }
}