.product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
}

.product__image {
    position: relative;
}

.product__image>img {
    width: 600px;
    height: 600px;
    object-fit: cover;
    min-width: 100%;
}

.product__image::before,
.product__image::after {
    cursor: pointer;
    content: "";
    position: absolute;
    top: 45%;
    width: 64px;
    height: 64px;
    border-radius: 40px;
    background: #000000 url(./arrow-right.svg) center center no-repeat;
    box-shadow: 0px 4px 20px rgba(175, 173, 181, 0.2);
}

.product__image::before {
    left: 4%;
    transform: rotate(180deg);
}

.product__image::after {
    left: 86%;
}

.product__info {
    display: flex;
    flex-direction: column;
}

.product__info>p {
    text-align: left;
}

.product__item {
    font-family: 'Eudoxus Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 57px;
    color: #151411;
}

.product__title {
    margin: 32px 0 20px;
}

.product__subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #AFADB5;
}

.product__content {
    margin: 128px 0 50px;
}

.product__buttons {
    display: flex;
    column-gap: 20px;
    width: 100%;
}