@import "@styles/variables.scss";

.main__product {
    display: grid;
    grid-template-columns: 600px 1fr;
    grid-template-rows: 1fr;
    gap: 0 50px;

    @media screen and (max-width: $desktop) {
        grid-template-columns: 500px 1fr;
        gap: 0 30px;
    }

    @media screen and (max-width: $tablet) {
        grid-template-columns: 1fr;
        gap: 0 0;
    }

    @media screen and (max-width: $mobile) {
        grid-template-rows: 327px 1fr;
    }
}