@import "@styles/variables.scss";
@import "@styles/mixins.scss";

.main {
    &__title {
        margin-bottom: 20px;
        text-align: center;
        @include title-h1;
    }

    &__subtitle {
        margin: 0 auto;
        max-width: 600px;
        font-weight: 500;
        @include subtitle;

        @media screen and (max-width: $mobile) {
            max-width: 327px;
        }
    }
}